body{
    background-image: url("background.png");
}

#reset-btn{
    position: absolute;
    left: 65vw;
    top: 15vh;
}

#reset-image{
    position: absolute;
    left: 50vw;
    top: -3vh;
    width: 36vw;
    height: 36vh;
}

#cards-image{
    position: absolute;
    left: 28vw;
    top: -3vh;
    transform: rotate(90deg);
    /* z-index: 1000; */
}
